body {
    background-color: #E3869F;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: #2A3F1C;
    text-align: center;
}



ul {

    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;


}

ul li {

    float: left;

}

ul li a {

    display: block;

    color: #3E4B58;

    text-align: center;

    padding: 14px 16px;

    text-decoration: none;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-style: normal;
    margin: 10px;
    border-radius: 4%;


}



ul li a:hover {

    background-color: #838C7B;

}

.nav {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 110px;
}

h1 {
    font-size: 70px;
    background-color: antiquewhite;
    margin: 40px 240px;
    border-radius: 40%;
}

p {
    font-size: 50px;
}



img {
    width: 600px;
    height: auto;
    float: center;
    border-radius: 20%;
}

.tooltip p {
    display: none;
    background: #E3869F;
    padding: 10px;
}

.tooltip:hover p {
    display: block;
}

.hover-div {
    background: #E3869F;
    padding: 10px;

}

.hover-div:hover {
    background: #838C7B;
    border-radius: 10%;
}

.block1 {
    float: left;
}

.block2 {
    float: right;
}

.block3 {
    float: left;
}

.block4 {
    float: right;
}

.block5 {
    float: left;
}

.block6 {
    float: right;
}