ul {

    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;


}

ul li {

    float: left;

}

ul li a {

    display: block;

    color: #F48887;

    text-align: center;

    padding: 14px 16px;

    text-decoration: none;

    font-family: highgate, sans-serif;
    font-weight: 800;
    font-style: normal;


}



ul li a:hover {

    background-color: #4D7A94;

}

img {
    width: 600px;
    height: 500px;
    margin: auto;
}



body {
    font-family: highgate, sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #BBD8DD;
    color: #4D7A94;
}


.grid-container {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: auto auto auto;
}

.nav {
    background-color: #FCEBE5;
    font-size: 40px;
    height: 81px;
}

.grid-item {
    text-align: left;
    font-size: 25px;
    padding: 20px;
    margin: 5px;
    border: none;


}



.block1 {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
    text-align: center;
    font-size: 50px;
    text-shadow: black;

}

.block2 {
    grid-column: 2 / span 1;
    grid-row: 4 / span 2;

}


.block3 {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;

}

.block4 {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
}

.block5 {
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    text-align: center;
    background-color: #FCEBE5;
}



h1 {
    font-family: highgate, sans-serif;
    font-weight: 900;
    font-style: italic;
}

h2 {
    font-family: highgate, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #F48887;
}

.footer {
    font-family: highgate, sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color: #F48887;
    color: white;
    text-align: center;
    grid-column: 1 / span 4;
    grid-row: 6 / span 2;
}