body {
    background-color: #BBD8DD;
    font-family: "arbotek", sans-serif;
    font-weight: 300;
    display: block;
   
    padding: none;
    margin: auto;
    color: black;
}

.container {
    padding: 5px;
    margin: 5px;
    border: 0;


}

.header {
    background-color: #FCEBE5;
    color: #172E56;
    width: 100%;
    padding: none;
    margin: none;
    margin-top: none;
} 



.nav {
    text-decoration: none;
    font-size: 50px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #BBD8DD;
    opacity: 80%;
}
.nav-inner {
    float: left;
    width: 100%;
    position: sticky;
    top: 0;
    
}

ul {
    list-style: none;
    overflow: hidden;
}

ul li {
    float: left;
}

li {
    padding: 0 13px;
    text-align: center;
}

.nav a:hover {
    background-color: #172E56;
    color: #FCEBE5;
    border-radius: 20%;
    
}

h1 {
    font-family: "arbotek", sans-serif;
    font-weight: 700;
    font-size: 140px;
    margin: 0;

}

h2 {
    font-weight: 1000;
    font-size: 75px;
}

h3 {
    font-weight: 700;
    font-size: 50px;
}

.googlemap {
    display: block;
    float: left;
    padding-left: 10px;
}



.center {
    text-align: center;
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

p {
    font-size: 30px;
    padding: 5px;
    
}

p a:hover {
    font-weight: 550;
}

img {
    width: 100%;
    padding: 0px;
    margin-top: 0;
}

.img1 {
    float: left;
    width: 50%;
    
}

.img2 {
    float: right;
    width: 50%;
}



footer {
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    
  }

footer a {
    color: white;
}

footer p {
    font-size: 20px;
    margin: 0px;
    
}

footer ul {
    margin-left: auto;
    margin-right: auto;
    display: block;
}