body {
    background-color: #9B6CBD;
    font-family: "arbotek", sans-serif;
    font-weight: 300;
}

.nav {
    text-decoration: none;
    font-size: 50px;

}

ul {
    list-style: none;
    overflow: hidden;
}

ul li {
    float: left;
}

li {
    padding: 0 13px;
    text-align: center;
}

h1 {
    font-family: "arbotek", sans-serif;
    font-weight: 700;
    font-size: 140px;
}

a {
    color: black;
}

p {
    font-size: 30px;
    padding: 20px;
}

img {
    width: 100%;
}

.img1 {
    float: left;
    width: 50%;
}

.img2 {
    float: right;
    width: 50%;
}