body {
    background-color: lightblue;
    font-family: "timonium", sans-serif;
    font-weight: 300;
    font-style: oblique;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 80px;
    color: #172E56;
}

.nav {
    font-size: 50px;
}

a {
    text-decoration: none;
    color: #172E56;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}



img {
    float: none;
    height: 400px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;
}

footer {
    background-color: #172E56;
    color: white;
    font-size: 25px;
}